# Part I: Modeling Instacart Data

The following changes include joinining of tables with similar attributes, addition of primary keys to to all tables missing one, and basic cleaning of data, such as dropping uneccesary columns for our purpose.

In [8]:
dataset_id = "instacart_modeled"
!bq --location=US mk --dataset {dataset_id}  #Note: This will not work if you already have a dataset with this name

Dataset 'responsive-cab-267123:instacart_modeled' successfully created.

### The following tables do not need alterations.

#### Aisles Table

In [7]:
%%bigquery
create table instacart_modeled.Aisles as select * from instacart_staging.Aisles

Empty DataFrame
Columns: []
Index: []

In [9]:
%%bigquery 
select * from instacart_modeled.Aisles limit 5

   aisle_id                       aisle
0        23               popcorn jerky
1        33                kosher foods
2       122                meat counter
3       123  packaged vegetables fruits
4       103          ice cream toppings

#### Departments

In [10]:
%%bigquery
create table instacart_modeled.Departments as select * from instacart_staging.Departments

Empty DataFrame
Columns: []
Index: []

In [11]:
%%bigquery 
select * from instacart_modeled.Departments limit 5

   department_id    department
0              5       alcohol
1             15  canned goods
2             16    dairy eggs
3              8          pets
4              2         other

#### Products

In [19]:
%%bigquery
create table instacart_modeled.Products as select * from instacart_staging.Products

Empty DataFrame
Columns: []
Index: []

In [20]:
%%bigquery 
select * from instacart_modeled.Products limit 5

,product_id,product_name,aisle_id,department_id
0,9676,"Egg, Bacon & Cheese Breakfast Taquitos",34,1
1,16363,Gluten Free Breaded Chicken Breast Tenders,34,1
2,23095,Flame Grilled Beef Patty,34,1
3,32547,Bite Size Turkey Meatball,34,1
4,45845,Battered Whole Fish Fillet,34,1

### Modeling Data

All tables have appropriate data types representative of the data in each attribute. Therefore, no casting was done.

The modeling focuses on:
* dropping attributes that don't yield useful data for our purpse (Orders)
* joining tables with the same attributes (Order_Products_Prior and Order_Products_Train)
* adding primary keys to all tables (Order_Products_Prior, Order_Products_Train)

### Dropping Uncessary Columns on Tables

Alterations to 'Orders' table
* The eval_set attribute is no longer needed because the two evaluation set tables have been merged.
* The days_since_prior_order attribute is not needed because it only contains nulls and floats, which are not useful for our analysis

The following query shows how the days_since_prior_order attribute only yields 0.0s and nulls, which isn't very useful.

In [13]:
%%bigquery
select days_since_prior_order from instacart_staging.Orders where days_since_prior_order not in (null, 0.0, 0)

Empty DataFrame
Columns: [days_since_prior_order]
Index: []

In [21]:
%%bigquery
create table instacart_modeled.Orders as select order_id, user_id, order_number, order_dow, order_hour_of_day from instacart_staging.Orders

Empty DataFrame
Columns: []
Index: []

In [22]:
%%bigquery 
select * from instacart_modeled.Orders limit 5

   order_id  user_id  order_number  order_dow  order_hour_of_day
0   2688538    47867            43          0                  1
1   2420789   198165            54          0                  2
2    742407   199989            50          0                  5
3    921979    21991            61          0                  3
4   1936280    41896            44          0                  1

#### Joining Tables

The Order_Products_Prior and Order_Products_Train tables have the same attributes. After checking documentation on the dataset, we found that merging these two tables without accounting which evaluation set each record was taken from would fit best for our purposes.

In [2]:
%%bigquery
create table instacart_modeled.Order_Products as 
select * from instacart_staging.Order_Products_Prior
union distinct 
select * from instacart_staging.Order_Products_Train

Empty DataFrame
Columns: []
Index: []

Displaying merged of table

In [3]:
%%bigquery
select * from instacart_modeled.Order_Products limit 12

    order_id  product_id  add_to_cart_order  reordered
0      76181       43768                 43          0
1    2492557        7361                 27          0
2    1347843       26194                 33          0
3     843703        7188                 29          0
4    2960599       15006                 28          0
5     510317       10545                 40          0
6    1626114       18987                 28          0
7     676086       48437                 32          0
8     993081       40264                 31          0
9    1945159       32402                 26          0
10    327986        4410                 38          0
11   3337970       27411                 49          0

#### Primary Keys

All tables in our dataset had valid primary keys with the exception of the Order_Products_Prior and Order_Products_Train tables, which are now merged into 'Order_Products' table. The query below shows that making a composite key out of order_id and product_id is valid in the newly merged table.

In [4]:
%%bigquery
select count(*) from instacart_modeled.Order_Products

        f0_
0  33819106

In [5]:
%%bigquery
select count(*) from (select distinct order_id, product_id from instacart_modeled.Order_Products)

        f0_
0  33819106

# Part II: Writing Join Queries with the Modeled Dataset

#### Query 1: This query displays what products are in what orders where the aisle is "instant foods".

In [2]:
%%bigquery
select count(*) as frequency, product_name
from instacart_modeled.Products p join instacart_modeled.Order_Products o on p.product_id = o.product_id
join instacart_modeled.Aisles a on a.aisle_id = p.aisle_id
where a.aisle = 'instant foods'
group by product_name
order by frequency desc
limit 12

    frequency                                      product_name
0       11316       Organic Macaroni Shells & Real Aged Cheddar
1        8648            Macaroni Shells & White Cheddar Cheese
2        8435   Bunny Pasta with Yummy Cheese Macaroni & Cheese
3        7832      Shells & Real Aged Cheddar Macaroni & Cheese
4        6596                  Organic Shells And White Cheddar
5        6494                                   Garlic Couscous
6        6397          Macaroni & Cheese Dinner Original Flavor
7        5144    Creamy Deluxe Shells & Real Aged Cheddar Sauce
8        4712                            Spanish Rice Pilaf Mix
9        3863                             Parmesan Couscous Mix
10       3555  Gluten Free Cheddar Macaroni & Cheese Rice Pasta
11       3428                  Chicken Flavor Ramen Noodle Soup

#### Query 2: This query displays what each user ordered at any point, sorted by order number

In [3]:
%%bigquery
select o.user_id, o.order_number, p.product_name
from instacart_modeled.Products p join instacart_modeled.Order_Products op on p.product_id = op.product_id
join instacart_modeled.Orders o on op.order_id = o.order_id
order by user_id, order_number
limit 12

    user_id  order_number                             product_name
0         1             1  Organic Unsweetened Vanilla Almond Milk
1         1             1         XL Pick-A-Size Paper Towel Rolls
2         1             1                                     Soda
3         1             1               Aged White Cheddar Popcorn
4         1             1                      Original Beef Jerky
5         1             2                                     Soda
6         1             2               Aged White Cheddar Popcorn
7         1             2                   Bag of Organic Bananas
8         1             2                               Pistachios
9         1             2                      Original Beef Jerky
10        1             2                    Cinnamon Toast Crunch
11        1             3                     Creamy Almond Butter

#### Query 3: This query displays which users are most frequently purchasing baby products (aisles 82 and 92)

In [4]:
%%bigquery
select user_id, count(*) as freq
from instacart_modeled.Products p join instacart_modeled.Order_Products op on p.product_id = op.product_id
join instacart_modeled.Orders o on o.order_id = op.order_id
where aisle_id = 92 or aisle_id = 82
group by user_id
order by freq desc
limit 12

    user_id  freq
0    128627   820
1     84092   555
2    124042   450
3     21463   427
4      8812   378
5    111128   373
6    197502   369
7    169991   366
8     58919   358
9    108736   354
10    21332   348
11   113144   345

#### Query 4: This query determines the most popular aisles that users shop from, sorted from most to least popular

In [5]:
%%bigquery
select  count(*) as freq, aisle
from instacart_modeled.Orders o join instacart_modeled.Order_Products op on o.order_id = op.order_id
join instacart_modeled.Products p on p.product_id = op.product_id
join instacart_modeled.Aisles a on p.aisle_id = a.aisle_id
group by aisle
order by freq desc
limit 12

       freq                          aisle
0   3792661                   fresh fruits
1   3568630               fresh vegetables
2   1843806     packaged vegetables fruits
3   1507583                         yogurt
4   1021462                packaged cheese
5    923659                           milk
6    878150  water seltzer sparkling water
7    753739                 chips pretzels
8    664493                soy lactosefree
9    608469                          bread
10   599109                   refrigerated
11   545107                 frozen produce

#### Query 5: This query determines the users who purchase the most items (with no cost specified) from instacart.

In [6]:
%%bigquery
select user_id, count(*) as freq
from instacart_modeled.Orders o join instacart_modeled.Order_Products op on o.order_id = op.order_id
join instacart_modeled.Products p on p.product_id = op.product_id
group by user_id
order by freq desc
limit 12

    user_id  freq
0    201268  3725
1    129928  3689
2    164055  3089
3    176478  2952
4    186704  2936
5    137629  2931
6    182401  2929
7     33731  2912
8    108187  2760
9      4694  2735
10    79106  2631
11     5360  2602

#### Query 6: This query can help to determine how many orders have frozen items in them. This could be used to decide whether Instacart should start distributing frozen coolers to its drivers so that the company can ensure its frozen demands are being met.

In [7]:
%%bigquery
select count(distinct user_id) as freq_of_frozen_purchases
from instacart_modeled.Orders o join instacart_modeled.Order_Products op on o.order_id = op.order_id
join instacart_modeled.Products p on p.product_id = op.product_id 
join instacart_modeled.Departments d on p.department_id = d.department_id
where department = 'frozen'

   freq_of_frozen_purchases
0                    166124

# MILESTONE 5

### Casting

The following query returned 0 results in our last milestone when searching for column values other than 0, 0.0 or null. The query showed that this column did not yield useful data for analysis.

In [1]:
%%bigquery
select days_since_prior_order from instacart_staging.Orders where days_since_prior_order not in (null, 0.0, 0)

Empty DataFrame
Columns: [days_since_prior_order]
Index: []

This query returns the same empty result.

In [2]:
%%bigquery
select * from instacart_staging.Orders where days_since_prior_order not in (null, 0.0, 0)

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

Searching for values between 1.0 and 30.0 (from documentation) returns a non-empty value. I'm unsure why the two queries before returned a false result.

In [5]:
%%bigquery
select * from instacart_staging.Orders where days_since_prior_order between 1.0 and 30.0 limit 10

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1630627,54,prior,33,1,1,2.0
1,3287976,190,prior,6,6,2,2.0
2,1403692,262,prior,37,3,2,2.0
3,1712783,313,prior,86,5,4,2.0
4,3341750,313,prior,98,4,3,2.0
5,1710899,409,prior,31,4,4,2.0
6,750107,409,prior,50,3,1,2.0
7,1865455,786,prior,74,3,4,2.0
8,2698935,1024,prior,59,6,2,2.0
9,1452111,1246,prior,39,4,1,2.0

This column is useful and should be added to our table again.

In [24]:
%%bigquery
drop table instacart_modeled.Orders

Empty DataFrame
Columns: []
Index: []

In [25]:
%%bigquery
create table instacart_modeled.Orders as 
select order_id, user_id, order_number, order_dow, order_hour_of_day, cast(days_since_prior_order as int64) as days_since_prior_order
from instacart_staging.Orders

Empty DataFrame
Columns: []
Index: []

In [27]:
%%bigquery
select * from instacart_modeled.Orders limit 5

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2847109,15026,1,0,2,None
1,3045723,15032,1,0,5,None
2,2537448,20322,1,0,2,None
3,1024842,72224,1,0,2,None
4,749230,115103,1,0,2,None

### Checking Primary Keys

#### Aisles
`aisle_id`

In [29]:
%%bigquery
select count(*) from instacart_modeled.Aisles

   f0_
0  134

In [30]:
%%bigquery
select count(distinct aisle_id) from instacart_modeled.Aisles

   f0_
0  134

#### Departments 
`department_id`

In [32]:
%%bigquery
select count(*) from instacart_modeled.Departments

   f0_
0   21

In [33]:
%%bigquery
select count(distinct department_id) from instacart_modeled.Departments

   f0_
0   21

#### Orders
`order_id`

In [36]:
%%bigquery
select count(*) from instacart_modeled.Orders

       f0_
0  3421083

In [35]:
%%bigquery
select count(distinct order_id) from instacart_modeled.Orders

       f0_
0  3421083

#### Products
`product_id`

In [39]:
%%bigquery
select count(*) from instacart_modeled.Products

     f0_
0  49688

In [38]:
%%bigquery
select count(distinct product_id) from instacart_modeled.Products

     f0_
0  49688

#### Order_Products
`order_id, product_id`

In [41]:
%%bigquery
select count(*) from instacart_modeled.Order_Products

        f0_
0  33819106

In [43]:
%%bigquery
select count(*) from (select distinct order_id, product_id from instacart_modeled.Order_Products)

        f0_
0  33819106

### Beam Transformation

This transformation is not needed but done to practice beams.  
The days of the week in `order_dow` are represented by integers 0-6.  
The beam changes this attribute to a string type with Sunday being 0, Monday 1, etc.

In [1]:
%%bigquery
select order_dow, count(*) 
from instacart_modeled.Orders
group by order_dow

   order_dow     f0_
0          0  600905
1          1  587478
2          2  467260
3          3  436972
4          4  426339
5          5  453368
6          6  448761

In [2]:
%run Orders_beam.py

WARNING:apache_beam.runners.interactive.interactive_environment:Interactive Beam requires Python 3.5.3+.
WARNING:apache_beam.runners.interactive.interactive_environment:Dependencies required for Interactive Beam PCollection visualization are not available, please use: `pip install apache-beam[interactive]` to install necessary dependencies to enable all data visualization features.
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.internal.gcp.auth:Setting socket default timeout to 60 seconds.
INFO:apache_beam.internal.gcp.auth:socket default timeout is 60.0 seconds.
INFO:oauth2client.transport:Attempting refresh to obtain initial access_token
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'instacart_modeled'
 projectId: 'responsive-cab-267123'
 tableId: 'Orders'> referenced by query SELECT * FROM instacart_modeled.Orders limit 100
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset responsive-cab-267123:temp_dataset_3a549dd71b8044d5907fcb43114d26be does not exist so we will create it as temporary with location=US

current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday
current dow: 0
new dow: sunday

INFO:apache_beam.io.gcp.bigquery_tools:Created table responsive-cab-267123.instacart_modeled.Orders_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'order_id'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'user_id'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'order_number'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'order_dow'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'order_hour_of_day'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'days_since_prior_order'
 type: 'INTEGER'>]>. Result: <Table
 creationTime: 1583113459989
 etag: 'rL5K9+j+2psvG/mIln6sow=='
 id: 'responsive-cab-267123:instacart_modeled.Orders_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583113460041
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'order_id'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'user_id'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'order_number'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'order_dow'
 type: 'STRING'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'order_hour_of_day'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'days_since_prior_order'
 type: 'INTEGER'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/responsive-cab-267123/datasets/instacart_modeled/tables/Orders_Beam'
 tableReference: <TableReference
 datasetId: 'instacart_modeled'
 projectId: 'responsive-cab-267123'
 tableId: 'Orders_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.11 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.

In [3]:
%%bigquery
select order_dow, count(*) 
from instacart_modeled.Orders_Beam
group by order_dow

  order_dow  f0_
0    sunday  100

### Verifying Primary Key in Orders_Beam

In [32]:
%%bigquery
select count(*) from instacart_modeled.Orders_Beam

   f0_
0  100

In [33]:
%%bigquery
select count(distinct order_id) from instacart_modeled.Orders_Beam

   f0_
0  100

## Milestone 5 Dataflow Beam

In [39]:
%run Orders_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://bmease_cs327e/staging/transform-orders-df.1583727151.869137/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://bmease_cs327e/staging/transform-orders-df.1583727151.869137/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmptg2a7i8x', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://bmease_cs327e/staging/transform-orders-df.1583727151.869137/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://bmease_cs327e/staging/transform-orders-df.1583727151.869137/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://bmease_cs327e/staging/transform-orders-df.1583727151.869137/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmptg2a7i8x', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://bmease_cs327e/staging/transform-orders-df.1583727151.869137/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://bmease_cs327e/staging/transform-orders-df.1583727151.869137/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://bmease_cs327e/staging/transform-orders-df.1583727151.869137/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-09T04:12:37.756420Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-08_21_12_36-5131594110521976905'
 location: 'us-central1'
 name: 'transform-orders-df'
 projectId: 'responsive-cab-267123'
 stageStates: []
 startTime: '2020-03-09T04:12:37.756420Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-08_21_12_36-5131594110521976905]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-08_21_12_36-5131594110521976905?project=responsive-cab-267123
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-08_21_12_36-5131594110521976905 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:36.622Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-08_21_12_36-5131594110521976905. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:36.622Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-08_21_12_36-5131594110521976905.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:39.746Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:40.340Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-4 in us-central1-c.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:40.887Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:40.922Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write to output.txt/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:40.943Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write to input.txt/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:40.968Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.002Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.096Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.325Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.347Z: JOB_MESSAGE_DETAILED: Fusing consumer Format DOW into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.380Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.416Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/WriteBundles/WriteBundles into Format DOW
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.442Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Format DOW
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.470Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/Pair into Write to input.txt/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.503Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/WindowInto(WindowIntoFn) into Write to input.txt/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.527Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/GroupByKey/Reify into Write to input.txt/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.551Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/GroupByKey/Write into Write to input.txt/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.587Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/GroupByKey/GroupByWindow into Write to input.txt/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.611Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/Extract into Write to input.txt/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.634Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/Pair into Write to output.txt/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.659Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/WindowInto(WindowIntoFn) into Write to output.txt/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.698Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/GroupByKey/Reify into Write to output.txt/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.731Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/GroupByKey/Write into Write to output.txt/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.766Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/GroupByKey/GroupByWindow into Write to output.txt/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.800Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/Extract into Write to output.txt/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.824Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/InitializeWrite into Write to input.txt/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.853Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/InitializeWrite into Write to output.txt/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.883Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.911Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.936Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:41.973Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:42.219Z: JOB_MESSAGE_DEBUG: Executing wait step start29
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:42.277Z: JOB_MESSAGE_BASIC: Executing operation Write to output.txt/Write/WriteImpl/DoOnce/Read+Write to output.txt/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:42.312Z: JOB_MESSAGE_BASIC: Executing operation Write to input.txt/Write/WriteImpl/DoOnce/Read+Write to input.txt/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:42.314Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:42.343Z: JOB_MESSAGE_BASIC: Executing operation Write to output.txt/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:42.350Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-c...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:42.365Z: JOB_MESSAGE_BASIC: Executing operation Write to input.txt/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:42.399Z: JOB_MESSAGE_BASIC: Finished operation Write to output.txt/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:42.416Z: JOB_MESSAGE_BASIC: Finished operation Write to input.txt/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:42.470Z: JOB_MESSAGE_DEBUG: Value "Write to output.txt/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:12:42.493Z: JOB_MESSAGE_DEBUG: Value "Write to input.txt/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-08_21_12_36-5131594110521976905 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:13:08.544Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:16.910Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:16.945Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.402Z: JOB_MESSAGE_BASIC: Finished operation Write to input.txt/Write/WriteImpl/DoOnce/Read+Write to input.txt/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.459Z: JOB_MESSAGE_BASIC: Finished operation Write to output.txt/Write/WriteImpl/DoOnce/Read+Write to output.txt/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.467Z: JOB_MESSAGE_DEBUG: Value "Write to input.txt/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.495Z: JOB_MESSAGE_DEBUG: Value "Write to input.txt/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.532Z: JOB_MESSAGE_DEBUG: Value "Write to output.txt/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.567Z: JOB_MESSAGE_DEBUG: Value "Write to output.txt/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.602Z: JOB_MESSAGE_BASIC: Executing operation Write to input.txt/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.629Z: JOB_MESSAGE_BASIC: Executing operation Write to input.txt/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.645Z: JOB_MESSAGE_BASIC: Finished operation Write to input.txt/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.666Z: JOB_MESSAGE_BASIC: Executing operation Write to input.txt/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.684Z: JOB_MESSAGE_BASIC: Finished operation Write to input.txt/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.689Z: JOB_MESSAGE_BASIC: Executing operation Write to output.txt/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.714Z: JOB_MESSAGE_BASIC: Executing operation Write to output.txt/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.723Z: JOB_MESSAGE_BASIC: Finished operation Write to input.txt/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.744Z: JOB_MESSAGE_BASIC: Finished operation Write to output.txt/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.750Z: JOB_MESSAGE_BASIC: Executing operation Write to output.txt/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.776Z: JOB_MESSAGE_BASIC: Finished operation Write to output.txt/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.786Z: JOB_MESSAGE_DEBUG: Value "Write to input.txt/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.812Z: JOB_MESSAGE_BASIC: Finished operation Write to output.txt/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.812Z: JOB_MESSAGE_DEBUG: Value "Write to input.txt/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.844Z: JOB_MESSAGE_DEBUG: Value "Write to input.txt/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.881Z: JOB_MESSAGE_DEBUG: Value "Write to output.txt/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.919Z: JOB_MESSAGE_DEBUG: Value "Write to output.txt/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.952Z: JOB_MESSAGE_DEBUG: Value "Write to output.txt/Write/WriteImpl/PreFinalize/AsSingleton(InitializeWrite.out.0).output" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:47.978Z: JOB_MESSAGE_BASIC: Executing operation Read from BigQuery+Format DOW+Write to input.txt/Write/WriteImpl/WriteBundles/WriteBundles+Write to output.txt/Write/WriteImpl/WriteBundles/WriteBundles+Write BQ table/WriteToBigQuery/NativeWrite+Write to input.txt/Write/WriteImpl/Pair+Write to input.txt/Write/WriteImpl/WindowInto(WindowIntoFn)+Write to input.txt/Write/WriteImpl/GroupByKey/Reify+Write to input.txt/Write/WriteImpl/GroupByKey/Write+Write to output.txt/Write/WriteImpl/Pair+Write to output.txt/Write/WriteImpl/WindowInto(WindowIntoFn)+Write to output.txt/Write/WriteImpl/GroupByKey/Reify+Write to output.txt/Write/WriteImpl/GroupByKey/Write
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:14:49.086Z: JOB_MESSAGE_BASIC: BigQuery query issued as job: "dataflow_job_2184620172997353387". You can check its status with the bq tool: "bq show -j --project_id=responsive-cab-267123 dataflow_job_2184620172997353387".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:16:42.203Z: JOB_MESSAGE_BASIC: BigQuery query completed, job : "dataflow_job_2184620172997353387"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:16:42.548Z: JOB_MESSAGE_BASIC: BigQuery export job "dataflow_job_5054229300950634750" started. You can check its status with the bq tool: "bq show -j --project_id=responsive-cab-267123 dataflow_job_5054229300950634750".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:17:12.974Z: JOB_MESSAGE_DETAILED: BigQuery export job progress: "dataflow_job_5054229300950634750" observed total of 1 exported files thus far.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:17:13.013Z: JOB_MESSAGE_BASIC: BigQuery export job finished: "dataflow_job_5054229300950634750"
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:18:42.193Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:19:58.746Z: JOB_MESSAGE_BASIC: Executing BigQuery import job "dataflow_job_2184620172997351367". You can check its status with the bq tool: "bq show -j --project_id=responsive-cab-267123 dataflow_job_2184620172997351367".
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T04:20:29.496Z: JOB_MESSAGE_BASIC: BigQuery import job "dataflow_job_2184620172997351367" done.

### Verifying Primary Key in Orders_Beam_DF

In [40]:
%%bigquery
select count(*) from instacart_modeled.Orders_Beam_DF

       f0_
0  3421083

In [41]:
%%bigquery
select count(distinct order_id) from instacart_modeled.Orders_Beam_DF

       f0_
0  3421083

## Milestone 6 Beam

Since our datasets were pretty much clean after milestone 4, this transformation analyzes the Order_Products table. The frequency a product appeared in an order and the total amount of times that product was ordered across all orders was analyzed. The outputted table reflects the latter.

### Running both directrunner and dataflow beams

In [1]:
%run Order_Products_beam.py

WARNING:apache_beam.runners.interactive.interactive_environment:Interactive Beam requires Python 3.5.3+.
WARNING:apache_beam.runners.interactive.interactive_environment:Dependencies required for Interactive Beam PCollection visualization are not available, please use: `pip install apache-beam[interactive]` to install necessary dependencies to enable all data visualization features.
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/io/gcp/bigquery.py:1421: BeamDeprecationWarning: options is deprecated since First stable release. References to <pipeline>.options will not be supported
  experiments = p.options.view_as(DebugOptions).experiments or []
INFO:apache_beam.runners.direct.direct_runner:Running pipeline with DirectRunner.
INFO:apache_beam.internal.gcp.auth:Setting socket default timeout to 60 seconds.
INFO:apache_beam.internal.gcp.auth:socket default timeout is 60.0 seconds.
INFO:oauth2client.transport:Attempting refresh to obtain initial access_token
INFO:apache_beam.io.gcp.bigquery_tools:Using location 'US' from table <TableReference
 datasetId: 'instacart_modeled'
 projectId: 'responsive-cab-267123'
 tableId: 'Order_Products'> referenced by query SELECT product_id, add_to_cart_order as total FROM instacart_modeled.Order_Products limit 100
WARNING:apache_beam.io.gcp.bigquery_tools:Dataset responsive-cab-267123:temp_dataset_89e86f3f08884969a8f7cdbf6cd35d1d does not exist so we will create it as temporary with location=US
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.filebasedsink:Starting finalize_write threads with num_shards: 1 (skipped: 0), batches: 1, num_threads: 1
INFO:apache_beam.io.filebasedsink:Renamed 1 shards in 0.10 seconds.
INFO:apache_beam.io.gcp.bigquery_tools:Created table responsive-cab-267123.instacart_modeled.Order_Products_Beam with schema <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'product_id'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'total'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'frequency'
 type: 'INTEGER'>]>. Result: <Table
 creationTime: 1583733867186
 etag: 'ZeGyWzNuLkNj7j8SXeBv+A=='
 id: 'responsive-cab-267123:instacart_modeled.Order_Products_Beam'
 kind: 'bigquery#table'
 lastModifiedTime: 1583733867220
 location: 'US'
 numBytes: 0
 numLongTermBytes: 0
 numRows: 0
 schema: <TableSchema
 fields: [<TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'product_id'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'total'
 type: 'INTEGER'>, <TableFieldSchema
 fields: []
 mode: 'NULLABLE'
 name: 'frequency'
 type: 'INTEGER'>]>
 selfLink: 'https://www.googleapis.com/bigquery/v2/projects/responsive-cab-267123/datasets/instacart_modeled/tables/Order_Products_Beam'
 tableReference: <TableReference
 datasetId: 'instacart_modeled'
 projectId: 'responsive-cab-267123'
 tableId: 'Order_Products_Beam'>
 type: 'TABLE'>.
WARNING:apache_beam.io.gcp.bigquery_tools:Sleeping for 150 seconds before the write as BigQuery inserts can be routed to deleted table for 2 mins after the delete and create.

In [49]:
%run Order_Products_beam_dataflow.py

WARNING:apache_beam.options.pipeline_options:--region not set; will default to us-central1. Future releases of Beam will require the user to set --region explicitly, or else have a default set via the gcloud tool. https://cloud.google.com/compute/docs/regions-zones
/home/jupyter/venv/lib/python3.5/site-packages/apache_beam/runners/dataflow/dataflow_runner.py:740: BeamDeprecationWarning: BigQuerySink is deprecated since 2.11.0. Use WriteToBigQuery instead.
  kms_key=transform.kms_key))
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://bmease_cs327e/staging/orders-df1.1583730903.426188/pipeline.pb...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://bmease_cs327e/staging/orders-df1.1583730903.426188/pipeline.pb in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading source distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpgokvahky', 'apache-beam==2.19.0', '--no-deps', '--no-binary', ':all:']
INFO:apache_beam.runners.portability.stager:Staging SDK sources from PyPI to gs://bmease_cs327e/staging/orders-df1.1583730903.426188/dataflow_python_sdk.tar
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://bmease_cs327e/staging/orders-df1.1583730903.426188/dataflow_python_sdk.tar...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://bmease_cs327e/staging/orders-df1.1583730903.426188/dataflow_python_sdk.tar in 0 seconds.
INFO:apache_beam.runners.portability.stager:Downloading binary distribution of the SDK from PyPi
INFO:apache_beam.runners.portability.stager:Executing command: ['/home/jupyter/venv/bin/python', '-m', 'pip', 'download', '--dest', '/tmp/tmpgokvahky', 'apache-beam==2.19.0', '--no-deps', '--only-binary', ':all:', '--python-version', '35', '--implementation', 'cp', '--abi', 'cp35m', '--platform', 'manylinux1_x86_64']
INFO:apache_beam.runners.portability.stager:Staging binary distribution of the SDK from PyPI to gs://bmease_cs327e/staging/orders-df1.1583730903.426188/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl
INFO:apache_beam.runners.dataflow.internal.apiclient:Starting GCS upload to gs://bmease_cs327e/staging/orders-df1.1583730903.426188/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl...
INFO:apache_beam.runners.dataflow.internal.apiclient:Completed GCS upload to gs://bmease_cs327e/staging/orders-df1.1583730903.426188/apache_beam-2.19.0-cp35-cp35m-manylinux1_x86_64.whl in 1 seconds.
INFO:apache_beam.runners.dataflow.internal.apiclient:Create job: <Job
 createTime: '2020-03-09T05:15:11.251406Z'
 currentStateTime: '1970-01-01T00:00:00Z'
 id: '2020-03-08_22_15_10-17100944588761653355'
 location: 'us-central1'
 name: 'orders-df1'
 projectId: 'responsive-cab-267123'
 stageStates: []
 startTime: '2020-03-09T05:15:11.251406Z'
 steps: []
 tempFiles: []
 type: TypeValueValuesEnum(JOB_TYPE_BATCH, 1)>
INFO:apache_beam.runners.dataflow.internal.apiclient:Created job with id: [2020-03-08_22_15_10-17100944588761653355]
INFO:apache_beam.runners.dataflow.internal.apiclient:To access the Dataflow monitoring console, please navigate to https://console.cloud.google.com/dataflow/jobsDetail/locations/us-central1/jobs/2020-03-08_22_15_10-17100944588761653355?project=responsive-cab-267123
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-08_22_15_10-17100944588761653355 is in state JOB_STATE_PENDING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:10.128Z: JOB_MESSAGE_DETAILED: Autoscaling was automatically enabled for job 2020-03-08_22_15_10-17100944588761653355.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:10.128Z: JOB_MESSAGE_DETAILED: Autoscaling is enabled for job 2020-03-08_22_15_10-17100944588761653355. The number of workers will be between 1 and 1000.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:14.084Z: JOB_MESSAGE_DETAILED: Checking permissions granted to controller Service Account.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:14.710Z: JOB_MESSAGE_BASIC: Worker configuration: n1-standard-1 in us-central1-f.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:15.308Z: JOB_MESSAGE_DETAILED: Expanding CoGroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:15.338Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 4/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:15.364Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write log 3/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:15.392Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Group by product_id: GroupByKey output consumer count not exactly one.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:15.413Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write to output.txt/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:15.438Z: JOB_MESSAGE_DEBUG: Combiner lifting skipped for step Write to input.txt/Write/WriteImpl/GroupByKey: GroupByKey not followed by a combiner.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:15.476Z: JOB_MESSAGE_DETAILED: Expanding GroupByKey operations into optimizable parts.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:15.502Z: JOB_MESSAGE_DETAILED: Lifting ValueCombiningMappingFns into MergeBucketsMappingFns
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:15.667Z: JOB_MESSAGE_DEBUG: Annotating graph with Autotuner information.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:15.952Z: JOB_MESSAGE_DETAILED: Fusing adjacent ParDo, Read, Write, and Flatten operations
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:15.974Z: JOB_MESSAGE_DETAILED: Fusing consumer Count Orders into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.006Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/WriteBundles/WriteBundles into Read from BigQuery
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.036Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/WriteBundles/WriteBundles into Count Orders
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.061Z: JOB_MESSAGE_DETAILED: Fusing consumer Group by product_id/Reify into Count Orders
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.086Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 3/Write/WriteImpl/WriteBundles/WriteBundles into Group by product_id/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.116Z: JOB_MESSAGE_DETAILED: Fusing consumer Count product counts and frequencies into Group by product_id/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.140Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 4/Write/WriteImpl/WriteBundles/WriteBundles into Count product counts and frequencies
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.167Z: JOB_MESSAGE_DETAILED: Fusing consumer Write BQ table/WriteToBigQuery/NativeWrite into Count product counts and frequencies
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.199Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/Pair into Write to input.txt/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.229Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/WindowInto(WindowIntoFn) into Write to input.txt/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.257Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/GroupByKey/Reify into Write to input.txt/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.282Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/GroupByKey/Write into Write to input.txt/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.310Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/GroupByKey/GroupByWindow into Write to input.txt/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.341Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/Extract into Write to input.txt/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.366Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/Pair into Write to output.txt/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.387Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/WindowInto(WindowIntoFn) into Write to output.txt/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.409Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/GroupByKey/Reify into Write to output.txt/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.431Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/GroupByKey/Write into Write to output.txt/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.453Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/GroupByKey/GroupByWindow into Write to output.txt/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.475Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/Extract into Write to output.txt/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.503Z: JOB_MESSAGE_DETAILED: Fusing consumer Group by product_id/Write into Group by product_id/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:Job 2020-03-08_22_15_10-17100944588761653355 is in state JOB_STATE_RUNNING
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.535Z: JOB_MESSAGE_DETAILED: Fusing consumer Group by product_id/GroupByWindow into Group by product_id/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.558Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 3/Write/WriteImpl/Pair into Write log 3/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.585Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 3/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 3/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.617Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 3/Write/WriteImpl/GroupByKey/Reify into Write log 3/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.644Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 3/Write/WriteImpl/GroupByKey/Write into Write log 3/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.665Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 3/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 3/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.689Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 3/Write/WriteImpl/Extract into Write log 3/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.712Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 4/Write/WriteImpl/Pair into Write log 4/Write/WriteImpl/WriteBundles/WriteBundles
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.738Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 4/Write/WriteImpl/WindowInto(WindowIntoFn) into Write log 4/Write/WriteImpl/Pair
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.760Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 4/Write/WriteImpl/GroupByKey/Reify into Write log 4/Write/WriteImpl/WindowInto(WindowIntoFn)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.786Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 4/Write/WriteImpl/GroupByKey/Write into Write log 4/Write/WriteImpl/GroupByKey/Reify
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.823Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 4/Write/WriteImpl/GroupByKey/GroupByWindow into Write log 4/Write/WriteImpl/GroupByKey/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.851Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 4/Write/WriteImpl/Extract into Write log 4/Write/WriteImpl/GroupByKey/GroupByWindow
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.874Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to input.txt/Write/WriteImpl/InitializeWrite into Write to input.txt/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.901Z: JOB_MESSAGE_DETAILED: Fusing consumer Write to output.txt/Write/WriteImpl/InitializeWrite into Write to output.txt/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.934Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 3/Write/WriteImpl/InitializeWrite into Write log 3/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.957Z: JOB_MESSAGE_DETAILED: Fusing consumer Write log 4/Write/WriteImpl/InitializeWrite into Write log 4/Write/WriteImpl/DoOnce/Read
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:16.989Z: JOB_MESSAGE_DEBUG: Workflow config is missing a default resource spec.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.016Z: JOB_MESSAGE_DEBUG: Adding StepResource setup and teardown to workflow graph.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.038Z: JOB_MESSAGE_DEBUG: Adding workflow start and stop steps.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.064Z: JOB_MESSAGE_DEBUG: Assigning stage ids.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.241Z: JOB_MESSAGE_DEBUG: Executing wait step start65
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.298Z: JOB_MESSAGE_BASIC: Executing operation Write log 4/Write/WriteImpl/DoOnce/Read+Write log 4/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.324Z: JOB_MESSAGE_BASIC: Executing operation Write log 3/Write/WriteImpl/DoOnce/Read+Write log 3/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.334Z: JOB_MESSAGE_DEBUG: Starting worker pool setup.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.353Z: JOB_MESSAGE_BASIC: Executing operation Write to output.txt/Write/WriteImpl/DoOnce/Read+Write to output.txt/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.354Z: JOB_MESSAGE_BASIC: Starting 1 workers in us-central1-f...
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.382Z: JOB_MESSAGE_BASIC: Executing operation Write to input.txt/Write/WriteImpl/DoOnce/Read+Write to input.txt/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.404Z: JOB_MESSAGE_BASIC: Executing operation Write to output.txt/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.435Z: JOB_MESSAGE_BASIC: Executing operation Group by product_id/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.451Z: JOB_MESSAGE_BASIC: Finished operation Write to output.txt/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.465Z: JOB_MESSAGE_BASIC: Executing operation Write log 3/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.485Z: JOB_MESSAGE_BASIC: Finished operation Group by product_id/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.489Z: JOB_MESSAGE_BASIC: Executing operation Write log 4/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.518Z: JOB_MESSAGE_BASIC: Executing operation Write to input.txt/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.522Z: JOB_MESSAGE_BASIC: Finished operation Write log 3/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.547Z: JOB_MESSAGE_DEBUG: Value "Write to output.txt/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.547Z: JOB_MESSAGE_BASIC: Finished operation Write log 4/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.574Z: JOB_MESSAGE_DEBUG: Value "Group by product_id/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.579Z: JOB_MESSAGE_BASIC: Finished operation Write to input.txt/Write/WriteImpl/GroupByKey/Create
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.606Z: JOB_MESSAGE_DEBUG: Value "Write log 3/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.634Z: JOB_MESSAGE_DEBUG: Value "Write log 4/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:17.663Z: JOB_MESSAGE_DEBUG: Value "Write to input.txt/Write/WriteImpl/GroupByKey/Session" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:15:48.773Z: JOB_MESSAGE_DETAILED: Autoscaling: Raised the number of workers to 1 based on the rate of progress in the currently running step(s).
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:17:25.767Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:17:25.804Z: JOB_MESSAGE_DETAILED: Workers have started successfully.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:18:13.181Z: JOB_MESSAGE_BASIC: Finished operation Write log 3/Write/WriteImpl/DoOnce/Read+Write log 3/Write/WriteImpl/InitializeWrite
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:18:13.243Z: JOB_MESSAGE_DEBUG: Value "Write log 3/Write/WriteImpl/DoOnce/Read.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:18:13.271Z: JOB_MESSAGE_DEBUG: Value "Write log 3/Write/WriteImpl/InitializeWrite.out" materialized.
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:18:13.338Z: JOB_MESSAGE_BASIC: Executing operation Write log 3/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:18:13.364Z: JOB_MESSAGE_BASIC: Executing operation Write log 3/Write/WriteImpl/WriteBundles/AsSingleton(InitializeWrite.out.0)
INFO:apache_beam.runners.dataflow.dataflow_runner:2020-03-09T05:18:13.393Z: JOB_MESSAGE_BASIC: Finished operation Write log 3/Write/WriteImpl/FinalizeWrite/AsSingleton(InitializeWrite.out.0)

### Verifying Primary Keys in Order_Products_Beam

In [ ]:
%%bigquery
select count(*) from instacart_modeled.Order_Products_Beam

In [ ]:
%%bigquery
select count(distinct product_id) from instacart_modeled.Order_Products_Beam

### Verifying Primary Keys in Order_Products_Beam_DF

In [50]:
%%bigquery
select count(*) from instacart_modeled.Order_Products_Beam_DF

     f0_
0  49685

In [51]:
%%bigquery
select count(distinct product_id) from instacart_modeled.Order_Products_Beam_DF

     f0_
0  49685