# Finding Relationships in 2017 Instacart Data

## Finding Primary Keys

### Orders Table

In [91]:
%%bigquery
select count(*) from instacart_staging.Orders

       f0_
0  3421083

The following are primary keys because it matched with the firsy query ran for this table.

In [92]:
%%bigquery
select count(distinct order_id) from instacart_staging.Orders

       f0_
0  3421083

The following are not primary keys because they don't match with the first query ran for this table or don't make sense as primary keys.

In [93]:
%%bigquery
select count(distinct user_id) from instacart_staging.Orders

      f0_
0  206209

In [94]:
%%bigquery
select count(distinct eval_set) from instacart_staging.Orders

   f0_
0    3

In [95]:
%%bigquery
select count(distinct order_number) from instacart_staging.Orders

   f0_
0  100

In [96]:
%%bigquery
select count(distinct order_dow) from instacart_staging.Orders

   f0_
0    7

In [97]:
%%bigquery
select count(distinct order_hour_of_day) from instacart_staging.Orders

   f0_
0   24

In [98]:
%%bigquery
select count(distinct days_since_prior_order) from instacart_staging.Orders

   f0_
0   31

### Products Table

In [99]:
%%bigquery
select count(*) from instacart_staging.Products

     f0_
0  49688

The following are primary keys because it matched with the first query ran for this table.

In [100]:
%%bigquery
select count(distinct product_id) from instacart_staging.Products

     f0_
0  49688

%%bigquery
select count(distinct product_name) from instacart_staging.Products

The following are not primary keys because they don't match with the first query ran for this table or don't make sense as primary keys.

In [101]:
%%bigquery
select count(distinct aisle_id) from instacart_staging.Products

   f0_
0  134

In [102]:
%%bigquery
select count(distinct department_id) from instacart_staging.Products

   f0_
0   21

### Order Products Prior/Train Table

In [103]:
%%bigquery
select count(*) from instacart_staging.Order_Products_Prior

        f0_
0  32434489

No primary keys found.

The following are not primary keys because they don't match with the first query ran for this table or don't make sense as primary keys.

In [104]:
%%bigquery
select count(distinct order_id) from instacart_staging.Order_Products_Prior

       f0_
0  3214874

In [105]:
%%bigquery
select count(distinct product_id) from instacart_staging.Order_Products_Prior

     f0_
0  49677

In [106]:
%%bigquery
select count(distinct add_to_cart_order) from instacart_staging.Order_Products_Prior

   f0_
0  145

In [107]:
%%bigquery
select count(distinct reordered) from instacart_staging.Order_Products_Prior

   f0_
0    2

### Departments Table

In [108]:
%%bigquery
select count(*) from instacart_staging.Departments

   f0_
0   21

The following are primary keys because it matched with the first query ran for this table.

In [109]:
%%bigquery
select count(distinct department_id) from instacart_staging.Departments

   f0_
0   21

### Aisles Table

In [110]:
%%bigquery
select count(*) from instacart_staging.Aisles

   f0_
0  134

The following is a primary key because it matched with the first query ran for this table.

In [111]:
%%bigquery
select count(distinct aisle_id) from instacart_staging.Aisles

   f0_
0  134

## Finding Foreign Keys

### Products, Departments and Aisles Tables

aisle_id and department_id are foreign keys in the Products table.

In [112]:
%%bigquery
select p.aisle_id
from instacart_staging.Products p left join instacart_staging.Aisles a 
on p.aisle_id= a.aisle_id
where a.aisle_id is null

Empty DataFrame
Columns: [aisle_id]
Index: []

In [113]:
%%bigquery
select p.department_id
from instacart_staging.Products p left join instacart_staging.Departments d 
on p.department_id= d.department_id
where d.department_id is null

Empty DataFrame
Columns: [department_id]
Index: []

### Orders, Products and Order_Products_Train/Prior Tables

order_id and product_id are foreign keys in the Order_Products_Train/Prior tables.

In [114]:
%%bigquery
select op.order_id
from instacart_staging.Order_Products_Train op left join instacart_staging.Orders o 
on op.order_id= o.order_id
where o.order_id is null

Empty DataFrame
Columns: [order_id]
Index: []

In [115]:
%%bigquery
select op.order_id
from instacart_staging.Order_Products_Prior op left join instacart_staging.Orders o 
on op.order_id= o.order_id
where o.order_id is null

Empty DataFrame
Columns: [order_id]
Index: []

In [116]:
%%bigquery
select op.product_id
from instacart_staging.Order_Products_Train op left join instacart_staging.Products p 
on op.product_id= p.product_id
where p.product_id is null

Empty DataFrame
Columns: [product_id]
Index: []

In [117]:
%%bigquery
select op.product_id
from instacart_staging.Order_Products_Prior op left join instacart_staging.Products p 
on op.product_id= p.product_id
where p.product_id is null

Empty DataFrame
Columns: [product_id]
Index: []

Running joins on the remaining un-explored fields does not make sense.

## Finding the Types of Relationships between keys

### Orders and Order_Products_Prior/Test Tables Relationship
One to many

In [118]:
%%bigquery
select * from instacart_staging.Order_Products_Train order by order_id limit 12

    order_id  product_id  add_to_cart_order  reordered
0          1       13176                  6          0
1          1       49683                  4          0
2          1       47209                  7          0
3          1       11109                  2          1
4          1       10246                  3          0
5          1       22035                  8          1
6          1       43633                  5          1
7          1       49302                  1          1
8         36       43086                  4          1
9         36       19660                  2          1
10        36       46620                  5          1
11        36       49235                  3          0

### Products and Order_Products_Prior/Test Tables Relationship
One to many

In [119]:
%%bigquery
select * from instacart_staging.Order_Products_Train order by product_id limit 12

    order_id  product_id  add_to_cart_order  reordered
0    2628526           1                  1          0
1     963599           1                  1          0
2     662808           1                  2          0
3    2698866           1                  1          0
4    3207223           1                 28          0
5    1627973           1                  1          0
6     498341           1                 31          0
7    1316956           1                  3          0
8    1290664           1                  3          0
9    1993976           1                  2          0
10   1028477           1                  2          0
11   3100653           1                  1          0

### Aisles and Products Table Relationship

One to many

In [120]:
%%bigquery
select * from instacart_staging.Products order by aisle_id limit 12

,product_id,product_name,aisle_id,department_id
0,4112,Chopped Salad Bowl Italian Salad with Salami &...,1,20
1,1600,Mediterranean Orzo Salad,1,20
2,4977,Mushroom Barley Soup,1,20
3,4369,American Potato Salad,1,20
4,554,Turkey Chili,1,20
5,2941,Broccoli Salad,1,20
6,2539,Original Potato Salad,1,20
7,5653,Chicken Curry Salad,1,20
8,5351,Smoked Whitefish Salad,1,20
9,3991,Moms Macaroni Salad,1,20
10,886,Whole Grain Salad with Roasted Pecans & Mango ...,1,20
11,209,Italian Pasta Salad,1,20

### Departments and Products Table Relationship

one to many

In [121]:
%%bigquery
select * from instacart_staging.Products order by department_id limit 12

,product_id,product_name,aisle_id,department_id
0,402,100% Pure Beef Homestyle Patties,34,1
1,831,All Natural Premium Cornish Hen,34,1
2,1070,Spicy Chicken Breast Patties,34,1
3,1109,Gluten Free Crispy Battered Haddock,34,1
4,1343,Potato Crunch Fish Fillets,34,1
5,1395,Classic Seasoning with Lemon Skillet Crisp Til...,34,1
6,1542,Mini Crispy Crabless Cakes,34,1
7,1817,Whole Grain Breaded Chicken Breast Chunks,34,1
8,1178,Key West Pink Shrimp,34,1
9,625,"Chicken Breast Nuggets, Dinosaur Shaped",34,1
10,383,Breaded Chicken Breast Tenders,34,1
11,118,Ground Turkey Chub,34,1