### Ingest Data from 2017 Instacart Dataset

In [1]:
dataset_id = "instacart_staging"
!bq --location=US mk --dataset {dataset_id}  #Note: This will not work if you already have a dataset with this name

Dataset 'responsive-cab-267123:instacart_staging' successfully created.

### Creating and Displaying Tables

#### Orders

In [2]:
!bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV {dataset_id}.Orders 'gs://bmease/orders.csv'

Waiting on bqjob_r3c882c466b2abc99_000001704eec7a01_1 ... (23s) Current status: DONE

In [10]:
%%bigquery
select * from instacart_staging.Quarter1_2018 limit 5

,sourceid,dstid,month,mean_travel_time,standard_deviation_travel_time,geometric_mean_travel_time,geometric_standard_deviation_travel_time
0,1157,1235,1,172.14,139.66,140.33,1.84
1,1142,1385,1,594.16,346.87,517.94,1.67
2,1080,1379,1,952.01,522.56,836.84,1.64
3,1095,1229,1,1287.43,651.52,1142.63,1.63
4,1165,1155,1,470.87,339.44,397.53,1.74

#### Products

In [3]:
!bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV {dataset_id}.Products 'gs://bmease/products.csv'

Waiting on bqjob_r94a75f8e5ad6503_000001704eecdef8_1 ... (2s) Current status: DONE

In [12]:
%%bigquery
select * from instacart_staging.Products limit 5

,product_id,product_name,aisle_id,department_id
0,118,Ground Turkey Chub,34,1
1,383,Breaded Chicken Breast Tenders,34,1
2,402,100% Pure Beef Homestyle Patties,34,1
3,625,"Chicken Breast Nuggets, Dinosaur Shaped",34,1
4,831,All Natural Premium Cornish Hen,34,1

#### Orders Prior

Orders prior to that users most recent order (~3.2m orders)

In [8]:
!bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV {dataset_id}.Order_Products_Prior 'gs://bmease/order_products__prior.csv'

Waiting on bqjob_r18816a134e4daa1d_000001704eee233d_1 ... (65s) Current status: DONE

In [13]:
%%bigquery
select * from instacart_staging.Order_Products_Prior limit 5

   order_id  product_id  add_to_cart_order  reordered
0      1951        4663                 41          0
1      2139       12254                 28          0
2      2694       32768                 32          0
3      3097       15902                 29          0
4      3175       35948                 30          0

#### Orders Train

Training data supplied to participants (~131k orders)

In [9]:
!bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV {dataset_id}.Order_Products_Train 'gs://bmease/order_products__train.csv'

Waiting on bqjob_r414dc7de235ded7d_000001704eef2b30_1 ... (7s) Current status: DONE

In [14]:
%%bigquery
select * from instacart_staging.Order_Products_Train limit 5

   order_id  product_id  add_to_cart_order  reordered
0        98       36364                 44          0
1        98       32463                 45          0
2        98       31066                 47          0
3        98       25659                 49          0
4       878       40174                 27          0

#### Aisles

In [6]:
!bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV {dataset_id}.Aisles 'gs://bmease/aisles.csv'

Waiting on bqjob_r4742cf72b6a198a4_000001704eecfadb_1 ... (1s) Current status: DONE

In [15]:
%%bigquery
select * from instacart_staging.Aisles limit 5

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

#### Departments

In [7]:
!bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV {dataset_id}.Departments 'gs://bmease/departments.csv'

Waiting on bqjob_r4259f271d886d2c0_000001704eed084c_1 ... (1s) Current status: DONE

In [17]:
%%bigquery
select * from instacart_staging.Departments limit 5

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol